.contactList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 1rem;
}

.contact > div {
  display: flex;
  align-items: center;
  gap: 0 1rem;
}

.contact > div > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem 0;
  align-items: flex-start;
  justify-content: center;
}

.contact span {
  font-weight: 600;
}

.contact img {
  width: 55px;
  height: 55px;
}
